<h1>Household Member Contact Information</h1>
<div><%= f.input :first_name, label: "First Name" %></div>
<div><%= f.input :age, label: "Age" %></div>
<div><%= f.input :primary_phone, label: "" %></div>
<div><%= f.input :primary_home, label: "Phone number same as household?" %></div>
<div><%= f.input :primary_phone, label: "Family Member Phone Number" %></div>
<div><%= f.input :primary_email, label: "Email same as household?" %></div>
<div><%= f.input :email_same, label: "Family Member Email Address" %></div>
