<h1>Household Member Special considerations</h1>
<div><%= f.input :allergies, label: "Does this family member have any Allergies?" %></div>
<div><%= f.input :allergies_explained, label: "Tell us the allergies" %></div>
<div><%= f.input :medications, label: "Does this family member take any Medications?" %></div>
<div><%= f.input :medications_explained, label: "Tell us about the medications and dosage requirements" %></div>
<div><%= f.input :medical_history, label: "Does this family member have any medical history information that might be beneficial to first aid personnel" %></div>
<div><%= f.input :medical_history_explained, label: "Tell us about the medical history" %></div>
<div><%= f.input :special_needs, label: "Does this family member have other Special Needs?" %></div>
<div><%= f.input :special_needs_explained, label: "Tell us about the special needs" %></div>